.custom-related-topics {
    .custom-related-topics-wrapper {
        margin: 4.5em 0 1em 0;
        .related-topics-title {
            display: flex;
            align-items: center;
        }
    }
}